- provide(:title, "Groups")

- group = locals[:group]

.row
  %h1= group.name

#content.tab-content
  #members.tab-pane.active
    %table.table.table-striped.group-margin

      %thead
        %tr
          %th Member Email
          %th Total Trips
          %th Average Score
          %th Average Distance
          %th Average Duration

      %tbody
        - group.group_memberships.each do |member|
          %tr
            %td= member.email
            %td= member.trips.count

            - unless member.trips.count == 0
              - sum = 0
              - member.trips.map(&:score).each {|score| sum += score.scoreAverage}
              %td= (sum/member.trips.count).round(2)
              %td
                = member.trips.average(:distance).round(2)
                miles
              %td
                = get_hours(member.trips.average(:duration))
                hrs #{get_mins(member.trips.average(:duration))} mins #{get_secs(member.trips.average(:duration))} secs
            - else
              %td
              %td
              %td

            %td
              = link_to 'Remove Member', {:controller => "groups", :action => "remove", :id => member.id }, :class => 'btn btn-mini btn-danger', data: { confirm: "This will remove the member from the group and you will no longer be able to view their trips. Are you sure you want to do this?" }

    / = link_to "Edit Group", {:controller => "groups", :action => "edit", :id => group.id }
    / = link_to "Delete Group", group_path(group), method: :delete, data: { confirm: "Deleting this group will remove the group and all its members. Are you sure you want to do this?" }}

    / %p
    / %h3 Invite users to your group.
    / = form_tag("/invite", method: "post") do
    /   .fields
    /     = label_tag(:email, "User Email:")

    /     = text_field_tag(:email, nil, :placeholder => "Email", :class => "form-control")
    /     = hidden_field_tag :id, group.id

    /     = submit_tag("Invite", :class => "btn btn-primary")
