<% provide(:title, @group.name) %>
<div class='row'>
  <h1><%= @group.name %></h1> 
  <% if flash[:notice] %>
    <div id="notice"><div class="alert alert-success"><%= flash[:notice] %></div></div>
  <% end %>
  <% if flash[:success] %>
    <div id="notice"><div class="alert alert-success"><%= flash[:success] %></div></div>
  <% end %>
  <% if flash[:error] %>
    <div id="notice"><div class="alert alert-danger"><%= flash[:error] %></div></div>
  <% end %>
  <% if flash[:warning] %>
    <div id="notice"><div class="alert alert-warning"><%= flash[:warning] %></div></div>
  <% end %>
  <p>You are the administrator of this group.</p>

  <ul class="nav nav-tabs">
  <li class="active"><a href="#members" data-toggle="tab">Members</a></li>
  <li><a href="#stats" data-toggle="tab">Stats</a></li>
  </ul>

</div>

<div id='content' class="tab-content">
      <div class="tab-pane active" id="members">

<table class="table table-striped">
  <thead>
    <tr>
      <th>Member Email</th>
      <th>Total Trips</th>
      <th>Average Score</th>
      <th>Average Distance</th>
      <th>Average Duration</th>
   
    </tr>
  </thead>

  <tbody>
    <% @members.each do |member| %>
      <tr>
        <td><%= link_to member.email, {:controller => "trip_viewer", :action => "all_trips", :id =>member.id  }, 'data-no-turbolink' => true %></td>
        <td><%= member.trips.count %></td>
        <% unless member.trips.count == 0 %>
          <% sum = 0%>
          <% member.trips.map(&:score).each {|score| sum += score.scoreAverage} %>
          <td><%= (sum/member.trips.count).round(2) %></td>
          <td><%= member.trips.average(:distance).round(2) %> miles</td>
          <td><%= get_hours(member.trips.average(:duration)) %> hrs <%= get_mins(member.trips.average(:duration)) %> mins <%= get_secs(member.trips.average(:duration)) %> secs</td>
        <% else %>
          <td></td>
          <td></td>
          <td></td>
        <% end %>
        <td>
          <%= link_to 'Remove Member', {:controller => "groups", :action => "remove", :id => member.id }, :class => 'btn btn-mini btn-danger', data: { confirm: "This will remove the member from the group and you will no longer be able to view their trips. Are you sure you want to do this?" } %>
        </td>
      </tr>
    <% end %>
  </tbody>

  
</table>
<%= link_to "Edit Group", {:controller => "groups", :action => "edit", :id =>@group.id } %> | <%= link_to "Delete Group", @group, method: :delete, data: { confirm: "Deleting this group will remove the group and all its members. Are you sure you want to do this?" } %> 

<p>
	<h3>Invite users to your group.</h3>
	<%= form_tag("/invite", method: "post") do %>

  		<div class="field">
    		<%= label_tag(:email, "User Email:") %>
    		<%= text_field_tag(:email) %>
    		<%= hidden_field_tag :id, @group.id %>
    		<%= submit_tag("Invite")  %>
  		</div>
	<% end %>
</p>
</div>
<div class="tab-pane" id="stats">
<%= high_chart("graph", @chart) %>
</div>
</div>
<hr />