<%- model_class = Trip -%>
<script src="Chart.js"></script>

<div class='row'>
  <h1>Trips</h1>
  <% if flash[:notice] %>
    <div id="notice"><div class="alert alert-error"><%= flash[:notice] %></div></div>
<% end %>

  <% if not current_user.group.nil? %>
    <p>You are a member of <%= "#{current_user.group.name}." %></p>
  <% end %>

  
  <p>
    <% unless @inviteGroup.nil? %>
        <%= @inviteGroup %> has invited you to join their group! <%= link_to 'Accept', {:controller => "groups", :action => "accept", :id =>current_user.invitation_id }, :class => 'btn btn-mini btn-danger',data: { confirm: "Accepting this invitation will allow the admin of this group full access to your trips. If you are currently in a group you will be removed and added to the new group. Are you sure you want to accept?" } %> | <%= link_to 'Decline', {:controller => "groups", :action => "decline", :id =>current_user.invitation_id }, :class => 'btn btn-mini btn-danger',data: { confirm: "If you decline this invitation you will not be able to join the group unless you are sent another invitation. Are you sure you want to decline?" } %> 
    <% end %>
  </p>

</div>

<%= will_paginate @trips %>

<!-- Scary fluidity- making divs boxes no matter what. http://jsfiddle.net/B8FU8/2441/
Be careful! this will almost certainly mess with bs internals and cause calamity -->

<div class="black-container">
  <% for i in 0..2 %>
    <div class="row-fluid grid-row">

    <% for n in 0..2 %>
      <div class="span4 grid-cell">
        <div class="grid-map">
        
        </div>

        <p>stasdfasdfasdf</p>

      </div>
    <% end %>

    </div>
  <% end %>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:score) %></th>
      <th><%= model_class.human_attribute_name(:time_stamp) %></th>
      <th><%= model_class.human_attribute_name(:distance) %></th>
      <th><%= model_class.human_attribute_name(:duration) %></th>
   
    </tr>
  </thead>

  <tbody>
    <% @trips.each do |trip| %>
      <tr>
        <td><%= link_to trip.name, {:controller => "trip_viewer", :action => "trip_viewer", :id =>trip.id }, 'data-no-turbolink' => true %></td>
        <td><%= trip.score.score.round(2) %></td>
        <td><%= trip.time_stamp.strftime('%a %b %d %Y %r') %></td>
        <td><%= trip.distance.round(2) %> miles</td>
        <td><%= get_hours(trip.duration) %> hrs <%= get_mins(trip.duration) %> mins <%= get_secs(trip.duration) %> secs</td>
        <td>
          <%= link_to 'Delete', {:controller => "trips_coordinates", :action => "delete_trip", :id =>trip.id }, :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
