    <!-- Fixed navbar -->
<!--     <div class="navbar navbar-custom navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/"><h1 id='title'>Drivesense</h1></a>
        </div>
      </div>

      <ul class="nav navbar-nav navbar-right">
          <li><a href="/trips"><h4>My Trips</h4></a> </li>
          <li><a href="/about"><h4>About</h4></a> </li>
          <li><a href="#"><h4>FAQ</h4></a> </li>
          <li><a href="/news"><h4>News</h4></a> </li>
      </ul>
    </div> -->

        <!-- Fixed navbar -->
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <a class="navbar-brand" href="/">KnowMyDrive</a>
        <button class="navbar-toggle" data-toggle="collapse" data-target=".navHeaderCollapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <div class="collapse navbar-collapse navHeaderCollapse">

          <ul class="nav navbar-nav navbar-right">
          <% if user_signed_in? %>
            <% ownedGroup = get_owned_group %>
            <% if not ownedGroup.nil? %>
              
              <li><a class="navbar-item" <%= link_to ownedGroup.name, {:controller => "groups", :action => "show", :id =>ownedGroup.id } %></a></li>
            
            <% elsif current_user.group.nil? %>
              <li><a class="navbar-item" <%= link_to "Create Group", {:controller => "groups", :action => "new" } %></a></li>
            <% end %>
            <li><a class="navbar-item" <%= link_to "My Trips", {:controller => "trip_viewer", :action => "all_trips" }, 'data-no-turbolink' => true %></a></li>  
          <% end %>      
            <li><a class="navbar-item" href="/about">About</a></li>
            <li><a class="navbar-item" href="/news">News</a></li>
          <% if user_signed_in? %>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle navbar-item" data-toggle="dropdown">
              <% 
              name = ''
              if current_user != nil
                name = current_user.email
              end%><%=name%>
              <% unless @inviteGroup.nil? %>
                  <span class="badge">1</span>
              <% end %> 
                <b class="caret"></b></a>
              <ul class="dropdown-menu">

                <% unless @inviteGroup.nil? %>
                  <div class="divider"></div>
                  <li><a rel="nofollow" href="#inviteModal" data-toggle="modal"><i class="fa fa-power-off"></i>  Group Invitation <span class="badge">1</span></a></li>
                <% end %>
                <li><a rel="nofollow" href="/account"><i class="fa fa-gear"></i>  Account Settings</a></li>
                <% unless @inviteGroup.nil? %>
                    <li><%= @inviteGroup %> has invited you to join their group! <%= link_to 'Accept', {:controller => "groups", :action => "accept", :id =>current_user.invitation_id }, :class => 'btn btn-mini btn-danger',data: { confirm: "Accepting this invitation will allow the admin of this group full access to your trips. If you are currently in a group you will be removed and added to the new group. Are you sure you want to accept?" } %> | <%= link_to 'Decline', {:controller => "groups", :action => "decline", :id =>current_user.invitation_id }, :class => 'btn btn-mini btn-danger',data: { confirm: "If you decline this invitation you will not be able to join the group unless you are sent another invitation. Are you sure you want to decline?" } %> </li>
                <% end %>
                <div class="divider"></div>
                <li><a rel="nofollow" href="/users/sign_out" data-method="delete"><i class="fa fa-power-off"></i>  Log Out</a></li>
          <% else %>
            <li><a class="navbar-item" href="/users/sign_in">Sign In</a></li>
          <% end %>

              </ul>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
  <% unless @inviteGroup.nil? %>
    <div class="modal" id="inviteModal">
      <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
              <h4 class="modal-title">Group Invitation</h4>
            </div>
            <div class="modal-body">
              <p>
                    <%= @inviteGroup %> has invited you to join their group! Accepting this invitation will allow the admin of this group full access to your trips. If you are currently in a group you will be removed and added to the new group.  
              </p>
            </div>
            <div class="modal-footer">
              <%= link_to 'Decline', {:controller => "groups", :action => "decline", :id =>current_user.invitation_id }, :class => 'btn btn-danger' %>
              <%= link_to 'Accept', {:controller => "groups", :action => "accept", :id =>current_user.invitation_id }, :class => 'btn btn-success' %>
            </div>
          </div>
        </div>
    </div>
  <% end %>
