.navbar.navbar-inverse.navbar-fixed-top{:role => "navigation"}
  .container
    %a.navbar-brand{:href => "/"} KnowMyDrive
    %button.navbar-toggle{"data-target" => ".navHeaderCollapse", "data-toggle" => "collapse"}
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar

    .collapse.navbar-collapse.navHeaderCollapse
      %ul.nav.navbar-nav.navbar-right
        - if user_signed_in?
          %li= link_to "Groups", groups_path, 'data-no-turbolink' => true, class: "navbar-item"
          %li= link_to "Trips", trips_path, 'data-no-turbolink' => true,  class: "navbar-item"
          / <span class="badge">1</span>

        %li= link_to "About", about_path, class: "navbar-item"
        %li= link_to "News", news_path, class: "navbar-item"

        - if user_signed_in?
          %li.dropdown
            %a.dropdown-toggle.navbar-item{"data-toggle" => "dropdown", :href => "#"}
              = current_user.nil? ?  '' : current_user.email
              %b.caret

            %ul.dropdown-menu
              %li= link_to "Account Settings", account_path
              %i.fa.fa-gear

              .divider
              %li= link_to "Log Out", destroy_user_session_path, method: :delete

        - else
          %li=link_to "Sign In", new_user_session_path, class: "navbar-item"

    / /.nav-collapse
    
  /  <% unless @inviteGroup.nil? %>
  /   <div class="modal" id="inviteModal">
  /     <div class="modal-dialog">
  /         <div class="modal-content">
  /           <div class="modal-header">
  /             <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
  /             <h4 class="modal-title">Group Invitation</h4>
  /           </div>
  /           <div class="modal-body">
  /             <p>
  /                   <%= @inviteGroup %> has invited you to join their group! Accepting this invitation will allow the admin of this group full access to your trips. If you are currently in a group you will be removed and added to the new group.  
  /             </p>
  /           </div>
  /           <div class="modal-footer">
  /             <%= link_to 'Decline', {:controller => "groups", :action => "decline", :id =>current_user.invitation_id }, :class => 'btn btn-danger' %>
  /             <%= link_to 'Accept', {:controller => "groups", :action => "accept", :id =>current_user.invitation_id }, :class => 'btn btn-success' %>
  /           </div>
  /         </div>
  /       </div>
  /   </div>
  / <% end %> 

  /                <% unless @inviteGroup.nil? %>
  /                   <li><%= @inviteGroup %> has invited you to join their group! <%= link_to 'Accept', {:controller => "groups", :action => "accept", :id =>current_user.invitation_id }, :class => 'btn btn-mini btn-danger',data: { confirm: "Accepting this invitation will allow the admin of this group full access to your trips. If you are currently in a group you will be removed and added to the new group. Are you sure you want to accept?" } %> | <%= link_to 'Decline', {:controller => "groups", :action => "decline", :id =>current_user.invitation_id }, :class => 'btn btn-mini btn-danger',data: { confirm: "If you decline this invitation you will not be able to join the group unless you are sent another invitation. Are you sure you want to decline?" } %> </li>
  /               <% end %>

  /               <% unless @inviteGroup.nil? %>
  /                 <div class="divider"></div>
  /                 <li><a rel="nofollow" href="#inviteModal" data-toggle="modal"><i class="fa fa-power-off"></i>  Group Invitation <span class="badge">1</span></a></li>
  /               <% end %> 